<div class="card text-center tarjeta">
    <div class="card-body">
        <div class="card text-center titulo">
            <p><br>Pikachu</p>
        </div>
        <img src="../../../assets/images/pikachu.png" alt="pikachu">
        <p class="parrafo">Tipo: Eléctrico <br>
            Debilidad: Tierra <br>
            Altura: 0,4m <br>
            Peso: 6,0 KG. <br>
            Cuanto más potente es la energia eléctrica que genera este Pokémon, más suaves y elásticas se vuelven las
            bolsas de sus mejillas.
        </p>

    </div>
</div>